* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --lite-green: #e6ffff;
    --sea-green: #00cccc;
    --cream: #ffe4cf;
    font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Parisienne', cursive;
}

body {
    background: url("../assets/images/yellow\ dress3.jpg") no-repeat center center fixed;
    background-size: cover;
    }

.nav-link {
    font-family: 'Parisienne';
    font-size: 25px;
    font-weight: bold;
}

.nav-link:hover {
    opacity: .7;
}

h1 {
    font-size: 60px;
    font-family: 'Parisienne';
    font-weight: bold;
}

a {
    color:black;
}
 
div.transbox {
    background-color: rgb(197, 208, 238);
    opacity: 0.6;
    font-weight: bold;
}

p {
    font-size: small;
}

.contact-info {
    background: url("./images/sunset\ pic.jpg") no-repeat center center fixed;
    background-size: cover;
    }

.projects {
    background: url("./images/sky-pic.jpg") no-repeat center center fixed;
    background-size: cover;
    }

.card-header {
    background-color: var(--cream);
    /* opacity: 0.5; */
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    /* font-size:4; */
}

.card-link {
    font-size: large;
}

#pettrax {
    background: url("./images/pettrax-pic.jpg") no-repeat center;
    background-size: cover;
    height: 70vw;
    }

#team-prof-gen {
    background: url("./images/team-prof-gen-pic.jpg") no-repeat center;
    background-size: cover;
    height: 70vw;
    }

#e-comm-bkend {
    background: url("./images/e-comm-backend-pic.png") no-repeat center;
    background-size: cover;
    height: 70vw;
    }





 
/* @media screen and (max-width: 800px) {
    body {
      width: 100%;
    }
}
    
@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
}  */


